@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.login-container{
    background-image: url('../../public/storage/images/exportación-de-servicios.webp');
    min-height: 100vh;

}



/* Estilos globales de tailwind CSS */
@layer components{
    /* Boton de enviar */
    .btn-send{
        @apply bg-azulm px-4 py-1 rounded-2xl font-bold duration-300 hover:bg-azulp hover:text-blanco
    }

    /* Etiqueta */
    .label{
        @apply font-bold
    }

    /* Entrada de los formularios */
    .input{
        @apply rounded-3xl px-2 border-azulm
    }

    /* Link de navegacion */
    .link-nav{
        @apply bg-azulm block py-3 px-5 rounded-3xl font-bold hover:text-blanco hover:bg-azulp duration-300 mt-3 text-center shadow-xl
    }

    /* Titulo de la ventana */
    .titulo{
        @apply text-center text-3xl text-azulm font-bold
    }
}
